<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/Javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <h2>当前n的值是{{n}}</h2>
      <button @click="n++">点我n++</button>
      <!-- 使用v-show做条件渲染 -->
      <!-- 底层使用display：none dom元素并没有移除-->
      <!-- <h2 v-show="true">欢迎来到{{name}}</h2> -->
      <!-- 使用v-if做条件渲染 移除dom元素-->
      <!-- <h2 v-if="false">欢迎来到{{name}}</h2> -->
      <div v-if="n===1">也许争不过天和地</div>
      <div v-else-if="n===2">也许低下头会哭泣</div>
      <div v-else="n===3">也许六月雪会飞进心里</div>
    </div>
    <script>
      new Vue({
        el: "#root",
        data: {
          n: 1,
          name: "1984",
        },
      });
    </script>
  </body>
</html>
